body {
  background: #87ceeb;
}

.header {
  overflow: hidden;
  height: 200px;
  background: white;
  border-bottom: solid 8px #b6e4f7;
}

.card {
  position: relative;
  height: 200px;
  background: white;
  border-radius: 0;
  padding: 6px;
  box-shadow: 2px 2px 1px grey;
}

.strikethrough {
  text-decoration: line-through;
}

a {
  color: unset;
}
a:hover {
  text-decoration: none;
}

ol {
  list-style: none;
  padding: unset;
}

.item {
  width: 100%;
  font-size: 1.25rem;
}

.list {
  max-width: 800px;
  margin: 0 auto;
  height: auto;
}
.list-icons {
  color: grey;
  font-size: 1.2rem;
  padding: 6px;
}
.list-icons svg {
  cursor: pointer;
  margin-left: 12px;
}

.checkbox {
  position: relative;
  margin-top: 5px;
  margin: 0;
}
.checkbox:before {
  cursor: pointer;
  content: "";
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
}

.mega {
  font-size: 3rem;
}

.clickable {
  cursor: pointer;
}

.completed-count {
  position: absolute;
  bottom: 6px;
  right: 6px;
  margin: 0;
}
