body {
  background: #87ceeb;
}

.header {
  overflow: hidden;
  height: 200px;
  background: white;
  border-bottom: solid 8px #b6e4f7;
}

.card {
  height: 200px;
  background: white;
  border: solid 1px grey;
  border-radius: 0;
  padding: 6px;
}

.strikethrough {
  text-decoration: line-through;
}

a {
  color: unset;
}
a:hover {
  text-decoration: none;
}

.item {
  width: 100%;
}

.list {
  max-width: 800px;
  margin: 0 auto;
  height: auto;
}
