body {
  background: #87ceeb;
}

.header {
  overflow: hidden;
  height: 200px;
  background: white;
  border-bottom: solid 8px #b6e4f7;
}

.card {
  height: 200px;
  background: white;
  border: solid 1px grey;
  border-radius: 0;
}

p {
  padding: 6px;
}

a {
  color: unset;
}
a:hover {
  text-decoration: none;
}
